<section ng-init="listUsers()">


  <form class="form-horizontal">
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-1 control-label" for="name">Nome</label>  
      <div class="col-md-5">
        <input id="name" name="name" type="text" class="form-control input-md" ng-model="usersFilter.name">
      </div>

      <label class="col-md-1 control-label" for="status">Situação</label>
      <div class="col-md-5"> 
        <select id="status" name="status" class="form-control" ng-model="usersFilter.status">
          <option value=""></option>
          <option value="ativo">Ativo</option>
          <option value="inativo">Inativo</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-1 control-label" for="lastname">Sobrenome</label>  
      <div class="col-md-5">
        <input id="lastname" name="lastname" type="text" class="form-control input-md" ng-model="usersFilter.lastname">
      </div>
      <label class="col-md-1 control-label" for="email">Email</label>  
      <div class="col-md-5">
        <input id="email" name="email" type="text" class="form-control input-md" ng-model="usersFilter.email">
      </div>
    </div>

    <div class="text-right">
      <button id="clear-btn" name="clear-btn" class="btn btn-default" ng-click="clearFilter()">Limpar</button>
      <button id="search-btn" name="search-btn" class="btn btn-success" ng-click="listUsers()">Buscar</button>
    </div>

    </div>
  </form>
         
  <div class="clearfix"/>

  <hr class="featurette-divider">

  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-default">
        <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Email</th>
          <th>Situação</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in usersList | startFrom:(currentPage)*limitPagination | limitTo:limitPagination">
          <td>{{user.name}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.email}}</td>
          <td>{{user.status}}</td>
          <td class="text-center"><a href="/#!/usuario/{{user.id}}"><icon class="glyphicon glyphicon-eye-open"/></a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <ul class="pagination pagination-sm">
      <li><a href="" ng-click="previousPage()"><<</a></li>
      <li><a href="">{{currentPage + 1}}</a></li>
      <li><a href="" ng-click="nextPage()">>></a></li>
    </ul>
  </div>
</section>
