<section ng-init="getUser()">
  <div class="row">

    <div class="col-md-3">
      <img src="user/img/user-default.jpg" class="img-responsive img-thumbnail">
      <button class="btn btn-block btn-danger" ng-show="currentUser.status.includes('Ativo')" ng-click="disableUser()">Inativar conta</button>
      <button class="btn btn-block btn-success" ng-show="!currentUser.status.includes('Ativo')">Ativar conta</button>
    </div>

    <div class="col-md-9">
      <form role="form">
        <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" class="form-control" id="nome" disabled ng-model="currentUser.name">
        </div>
        <div class="form-group">
          <label for="sobrenome">Sobrenome:</label>
          <input type="text" class="form-control" id="sobrenome" disabled ng-model="currentUser.lastname">
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" disabled ng-model="currentUser.email">
        </div>
        <div class="form-group">
          <label for="credit">Saldo de créditos:</label>
          <input type="credit" class="form-control" id="credit" disabled ng-model="currentUser.credit">
        </div>
      </form>

      <h3>Produtos</h3>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead-default">
            <tr>
              <th>Título</th>
              <th>Preço</th>
              <th>Categoria</th>
              <th>Vendas</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in currentUser.products">
              <td>{{product.title}}</td>
              <td>{{product.price}}</td>
              <td>{{product.category}}</td>
              <td>{{product.soldAmount}}</td>
              <td class="text-center"><a href="/#!/usuario/{{user.id}}"><icon class="glyphicon glyphicon-eye-open"/></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>
